*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.aux
*.pptx
*.lof
*.tks
summary*
ku-forside.zip
_minted*
distribution_diagrams/*
*bcf
plots/posteriors/*
plots/traceplots/*
plots/PPC/*
plots/ELBO/*
